* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --brown: #2b1b12;
  --body: #fef7f2;
  --nav: #ddc7bb;

  --header-height: 80px;
}

img {
  max-width: 100%;
  height: auto;
}
ul li {
  list-style: none;
  margin-block-start: 2em;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
  padding-block: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  height: var(--header-height);
}
nav {
  min-height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--nav);
  padding: 1em;
  width: 60svw;
  z-index: 1000;
  display: none;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: start;
}
.hamburger {
  border: none;
  background-color: transparent;
}
nav button {
  width: 30px;
  height: 30px;
}

header ul {
  margin-block-start: 3em;
}
nav a {
  color: var(--brown);
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 1.2rem);
}
.contact-btn,
.hero button {
  padding-block: 0.5em;
  padding-inline: 0.9em;
  border-radius: 8px;
  background-color: var(--brown);
  color: white;
}

.hero {
  min-height: calc(100svh - var(--header-height));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body);
}
.hero h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
.hero img {
  padding-top: 2em;
}
.hero-text-wrapper {
  padding-inline: 2em;
}

@media (min-width: 32em) {
  header .menu {
    display: none;
  }

  nav {
    min-height: fit-content;
    position: relative;
    padding: 0;
    width: fit-content;
    z-index: 0;
    display: flex;
    background-color: transparent;
  }
  nav a {
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding-inline: clamp(1em, 3vw, 2em);
  }

  ul li {
    margin: 0;
  }
  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }

  .hero {
    flex-direction: row;
    padding-inline: clamp(1em, 2vw, 2em);
  }
  .hero img {
    min-width: 50%;
  }
  .hero-text-wrapper {
    text-align: start;
  }
}
