* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --brown: #2b1b12;
  --body: #fef7f2;
  --light-brown: #ddc7bb;
  --secction-body: #ffffff;

  /* height */
  --header-height: 80px;
}
html {
  scroll-behavior: smooth;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100svw;
}

img {
  max-width: 100%;
  height: auto;
}
ul li {
  list-style: none;
  margin-block-start: 2em;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.hero p {
  padding-block: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  height: var(--header-height);
}
nav {
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-brown);
  padding: 1em;
  width: 60svw;
  transform: translateX(-60vw);
  transition: ease-in-out 0.3s;
}

.header-wrapper {
  color: var(--brown);
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  align-items: start;
}
.hamburger {
  border: none;
  background-color: transparent;
}
nav button {
  width: 30px;
  height: 30px;
}

header ul {
  margin-block-start: 3em;
}
nav a {
  color: var(--brown);
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 1.2rem);
}
.primary-cta {
  padding-block: 0.6em;
  padding-inline: 1em;
  border-radius: 8px;
  background-color: var(--brown);
  color: white;
}

.hero {
  min-height: calc(100svh - var(--header-height));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body);
  color: var(--brown);
}
.hero h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}
.hero img {
  padding-top: 2em;
}
.hero-text-wrapper {
  padding-inline: 2em;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--secction-body);
}

.second-section {
  text-align: center;
  color: var(--brown);
}

.section-text-wrapper {
  padding: 1.5em;
}
.section-text-wrapper > :nth-child(2) {
  padding-block: 1em;
}
.houses-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.why-choose-us {
  text-align: center;
  color: var(--brown);
}
.why-choose-text {
  padding: 1em;
}
/* all section heading color and centering */
h2 {
  color: var(--brown);
  text-align: center;
}

/* setting grid and padding on all the content sections */
.why-choose-offers,
.residence-wrapper,
.what-people-say-container {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
  padding-block-start: 1.5em;
}

.card {
  background-color: var(--light-brown);
  padding: 1.5em;
  border-radius: 0.5rem;
}
.card img {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1em;
}

/* why choose us section h2 tag and its content h3 tag */
.card h3,
.why-choose-text h2 {
  padding-block: 5px;
}
.why-choose-us h3 {
  font-size: clamp(0.9rem, 2vw, 3rem);
  font-weight: 800;
}

.residence-content-wrapper img {
  border-radius: 1em;
}

.residence-content-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

.residence-details {
  padding-block: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.residence-details div {
  display: flex;
  flex-direction: row;
}
.residence-details_locaion img {
  padding-inline-end: 1em;
}
.residence-details_price,
.residence-details_rooms {
  justify-content: space-between;
}

.what-people-say-wrapper {
  background-color: var(--body);
}
.what-people-say-wrapper h2 {
  padding-block: 1.5em;
}

.about-card {
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
.about-card img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.client-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 10px;
}
.client-ratings {
  background-color: white;
  padding: 3px;
}
.client-profile {
  display: flex;
  gap: 1em;
  align-items: center;
}
.client-profile img {
  border-radius: 50%;
}
.client-name {
  padding-block-end: 10px;
}
.client-card {
  padding: 1em;
}
.fq {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
.inputs {
  position: relative;
}
.fq-forms-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fq input {
  font-size: 16px;
  background-color: var(--light-brown);
  padding: 7px;
  padding-inline-start: 1.3em;
  border-radius: 5px;
}
form {
  display: flex;
  align-items: end;
  gap: 1em;
}
form span {
  color: red;
  padding-block-end: 1em;
}
form img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 32em) {
  header .menu {
    display: none;
  }

  nav {
    position: relative;
    height: 100%;
    display: flex;
    width: fit-content;
    flex-direction: row;
    padding: 0;
    z-index: 0;
    background-color: transparent;
    transform: translateX(0vw);
  }
  nav a {
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding-inline: clamp(1em, 3vw, 2em);
  }
  ul li,
  nav ul {
    margin: 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }

  .hero {
    flex-direction: row;
    padding-inline: clamp(1em, 2vw, 2em);
  }
  .hero img,
  .second-section img {
    min-width: 50%;
  }
  .hero-text-wrapper {
    text-align: start;
  }
  /* second section */
  .second-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 2em;
  }

  .section-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* js style */
.navigation-opened {
  transform: translateX(0vw);
}
.email-error {
  border: 2px solid red;
}
.email-error:focus {
  outline: 2px solid transparent;
}
